---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { Image } from "astro:assets";
import LargeVideo from "../components/LargeVideo.astro";
import Footer from "../components/footer.astro";
---


<Layout title="Welcome to Astro.">
  <Navbar />
    <Image
      src="/images/000626810014.png"
      alt="Petrichor"
      width="1920"
      height="1080"
      class="w-[100%] h-[100vh] object-cover"
    />
    <div class="h-[100vh] flex items-center justify-center flex-col" id="videos">
      <h1 class="text-5xl">Videos</h1>
      <LargeVideo videoUrl="https://www.youtube.com/watch?v=2E326wvssNc" />
    </div>

    <Footer />
</Layout>
