---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { Image } from "astro:assets";
import LargeVideo from "../components/LargeVideo.astro";
import Footer from "../components/Footer.astro";
import ContactInfo from "../components/contact/ContactInfo.astro";
import ContactForm from "../components/contact/ContactForm.astro";
---


<Layout title="Welcome to Astro.">
  <Navbar />
    <Image
      src="/images/000626810014.png"
      alt="Petrichor"
      width="1920"
      height="1080"
      class="w-[100%] h-[100vh] object-cover"
    />
    <div class="h-[100vh] flex items-center justify-center flex-col" id="videos">
      <h1 class="text-5xl">Videos</h1>
      <LargeVideo videoUrl="https://www.youtube.com/watch?v=2E326wvssNc" />
    </div>
    <div class="h-[100vh] flex items-center justify-center" id="music">
      <h1 class="text-5xl">Music</h1>
    </div>
    <div class="h-[100vh] flex items-center justify-center" id="merch">
      <h1 class="text-5xl">Merch</h1>
    </div>
    <div class="h-[100vh] " id="contact">
      <h1 class="text-5xl text-center">Contact</h1>
      <ContactInfo />
      <ContactForm />

    </div>
    <Footer title="Your Title" />
</Layout>
