---
import "../global.css"
---

<div class="flex gap-8 w-[80%] content-center items-center justify-center self-center">
    <iframe style="rounded-2xl max-w-[700px]" src="https://open.spotify.com/embed/album/2n3P39BKiFLF71iH1nmiv6?utm_source=generator" width="70%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <div class="flex-col mt-[-18px]">
    <h2 class="text-3xl font-thin text-[oklch(var(--ac))]"> Our new Album</h2>
    <h2 class="text-6xl leading-relaxed font-medium text-[oklch(var(--ac))] font-bandfont"> Petrichor</h2> 
    <h2 class="text-3xl font-thin text-[oklch(var(--ac))] mt-[-12px] mb-8"> out <b>now</b> !</h2>
    <iframe class="rounded-2xl w-full" src="https://open.spotify.com/embed/track/7eDcIGJF0ZjGjXn8D5uAuR?utm_source=generator" width="40%" height="370" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>
