---
import "../global.css"
---

<div class="flex gap-8 w-[80%] content-center items-center justify-center self-center">
    <iframe style="rounded-2xl lg:w-[90%] max-w-[95%]" src="https://open.spotify.com/embed/album/2n3P39BKiFLF71iH1nmiv6?utm_source=generator"  height="500" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <div class="flex-col mt-[-18px]  hidden lg:flex md:flex">
    <h2 class="text-3xl font-thin text-primary-content"> Our new Album</h2>
    <h2 class="text-6xl leading-relaxed font-medium text-primary-content font-bandfont"> Petrichor</h2> 
    <h2 class="text-3xl font-thin text-primary-content mt-[-12px] mb-8"> out <b>now</b> !</h2>
    <iframe class="rounded-2xl w-full" src="https://open.spotify.com/embed/track/7eDcIGJF0ZjGjXn8D5uAuR?utm_source=generator" width="40%" height="370" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>
