---

---
<div class="relative w-full flex flex-col items-center">
  <!-- Product Images -->
  <div class="hidden sm:flex items-end justify-center w-full max-w-4xl">
    <!-- Left Image -->
    <a href="https://shop.talkinsecret.com" class="w-2/5 transform translate-y-8">
      <img
        class="w-full"
        src="/images/unisex-classic-tee-forest-green-front-and-back-67c24e797e636.jpg"
        alt="Stranger In Disguise T-Shirt"
      />
    </a>
    <!-- Center Image (Larger) -->
    <a href="https://shop.talkinsecret.com" class="w-3/5 z-10">
      <img
        class="w-full"
        src="/images/unisex-classic-tee-maroon-front-67c224fee35f1.jpg"
        alt="Petrichor T-Shirt"
      />
    </a>
    <!-- Right Image -->
    <a href="https://shop.talkinsecret.com" class="w-2/5 transform translate-y-8">
      <img
        class="w-full"
        src="/images/unisex-classic-tee-black-front-2-67c238a3f2131.jpg"
        alt="Talkin Secret T-Shirt"
      />
    </a>
  </div>

  <!-- Mobile Layout -->
  <div class="flex flex-col items-center w-full max-w-4xl sm:hidden">
    <!-- Center Image (groß auf Mobile) -->
    <a href="https://shop.talkinsecret.com" class="w-[70vw] mb-2">
      <img
        class="w-full max-w-[320px]"
        src="/images/unisex-classic-tee-maroon-front-67c224fee35f1.jpg"
        alt="Petrichor T-Shirt"
      />
    </a>
    <!-- Zwei Bilder nebeneinander -->
    <div class="flex flex-row w-full justify-center gap-2">
      <a href="https://shop.talkinsecret.com" class="w-2/5">
        <img
          class="w-full max-w-[140px]"
          src="/images/unisex-classic-tee-forest-green-front-and-back-67c24e797e636.jpg"
          alt="Stranger In Disguise T-Shirt"
        />
      </a>
      <a href="https://shop.talkinsecret.com" class="w-2/5">
        <img
          class="w-full max-w-[140px]"
          src="/images/unisex-classic-tee-black-front-2-67c238a3f2131.jpg"
          alt="Talkin Secret T-Shirt"
        />
      </a>
    </div>
  </div>

  <!-- Call to Action -->
  <div class="flex flex-col items-center justify-center w-full max-w-2xl sm:mt-12 lg:top-0 lg:-mt-20 sm:pt-20 mb-auto text-center">
    <p class="text-2xl font-semibold mb-4">Support the noise - Wear the merch!</p>
    <a href="https://7rhr40-c7.myshopify.com/" target="_blank" rel="noopener noreferrer">
      <button class="btn btn-primary bg-primary hover:bg-background hover:border-primary hover:border-solid rounded-none px-16 pb-10 pt-6">Shop</button>
    </a>
  </div>
</div>
