---

---
    <div class="relative lg:max-w-[40%] lg:mx-auto mx-6 top-8 md:max-w-xl">
      <div
        class="grid grid-cols-2 lg:gap-x-16 gap-x-4 lg:gap-y-10 gap-y-12 md:grid-cols-2 ">
        <figure>
          <a href="https://7rhr40-c7.myshopify.com/">
          <img
            class="w-full rounded-3xl  shadow-2xl"
            src="/images/unisex-classic-tee-black-front-2-67c238a3f2131.jpg"
            alt=""
            width="1310"
            height="873"
          />
        </a >
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-[#72808C] font-semibold">
                <a href="https://7rhr40-c7.myshopify.com/">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Petrichor T-Shirt
                </a>
              </h3>
              
            </div>
            <p class="text-base text-neutral min-w-14">28,79 €</p>
          </div>
          <p class="mt-1 px-6 text-lg font-medium leading-6 text-accent-content">Black with Neckprint</p>
        </figure>
        <figure>
          <a href="https://7rhr40-c7.myshopify.com/">
          <img
            class="w-full rounded-3xl shadow-2xl"
            src="/images/unisex-classic-tee-forest-green-front-and-back-67c24e797e636.jpg"
            alt=""
            width="1310"
            height="873"
          /></a>
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-[#72808C] font-semibold">
                <a href="https://7rhr40-c7.myshopify.com/">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Band Logo T-Shirt
                </a>
              </h3>
              
            </div>
            <p class="text-base text-neutral min-w-14">28,79 €</p>
          </div>
          <p class="mt-1 px-6 text-lg font-medium leading-6 text-accent-content">
            Forest Green
          </p>
        </figure>
        <figure>
          <a href="https://7rhr40-c7.myshopify.com/">
          <img
            class="w-full rounded-3xl shadow-2xl"
            src="/images/unisex-classic-tee-maroon-front-67c224fee35f1.jpg"
            alt=""
            width="1310"
            height="873"
          />
          </a>
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-[#72808C] font-semibold">
                <a href="https://7rhr40-c7.myshopify.com/">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Talkin Secret T-Shirt
                </a>
              </h3>
         
            </div>
            <p class="text-base text-neutral min-w-14">25,73 €</p>
          </div>
          <p class="mt-1 px-6 text-lg font-medium leading-6 text-accent-content">
            Maroon with Front Print
          </p>
        </figure>
        <figure>
          <a href="https://7rhr40-c7.myshopify.com/">
          <img
            class="w-full rounded-3xl shadow-2xl"
            src="/images/set-of-pin-buttons-white-2.25-front-67c24ebae0799.jpg"
            alt=""
            width="1310"
            height="873"
          />
          </a>
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-[#72808C] font-semibold">
                <a href="https://7rhr40-c7.myshopify.com/">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Button Collection
                </a>
              </h3>
            </div>
            <p class="text-base text-neutral min-w-14">10,92 €</p>
            

          </div>
          <p class="mt-1 px-6 text-lg font-medium leading-6 text-accent-content">
            5 Distinct Designs
          </p>
        </figure>
      </div>
    
    <a href="https://7rhr40-c7.myshopify.com/" class="flex self-center"><button class="mx-auto btn btn-lg lg:btn-xl mt-16" > Shop now in our Store!</button></a>
  