@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Binggo Wood';
    src: url("./fonts/BinggoWoodFont.otf") format('opentype');

    font-family: 'Bodoni Moda';
    src: url("./fonts/BodoniModa-VariableFont_opsz,wght.ttf") format('ttf');
  }
}


.bodoni-moda-font {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



* {
  scrollbar-width: thin;
  scrollbar-color: oklch(var(--ac));
}

*::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
  scrollbar-color: #000;
  background-color: #000;
  border-radius: 14px;
  border: 1px solid;
  border-color: oklch(var(--a)) 
}

*::-webkit-scrollbar-track {
  width: 8px;
  scrollbar-width: thin;
  scrollbar-color: #000;
  background-color: oklch(var(--a));
  border-radius: 14px;
  border: 1px solid;
  border-color: oklch(var(--a)) 
}

*::-webkit-scrollbar-thumb {
  width: 8px;
  scrollbar-width: thin;
  scrollbar-color: #000;
  background-color: oklch(var(--a));
  border-radius: 14px;
  border: 1px solid;
  border-color: oklch(var(--a)) 
}

.drawer-button{
  @apply btn btn-circle btn-outline;
}

